<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title th:text="${nome}" >Document</title>
    <style>
        .container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; } @media (min-width: 768px) { .container { width: 750px; } } @media (min-width: 992px) { .container { width: 970px; } } @media (min-width: 1200px) { .container { width: 1170px; } }
        .inline { display: inline-block }
    </style>
</head>
<body>
    <div style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-top: 50px" class="container">
        <ul>
            <li class="inline"><label for="nome">Nome: </label></li>
            <li class="inline"><label id="nome" th:text="${nome}"></label></li>    
        </ul>
        <ul>
            <li class="inline"><label for="raca">Raça: </label></li>
            <li class="inline"><label id="raca" th:text="${raca}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="data">Data Nascimento: </label></li>
            <li class="inline"><label id="data" th:text="${data_nascimento}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="peso">Peso: </label></li>
            <li class="inline"><label id="peso" th:text="${peso}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="idade">Idade: </label></li>
            <li class="inline"><label id="idade" th:text="${idade}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="sexo">Sexo: </label></li>
            <li class="inline"><label id="sexo" th:text="${sexo}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="cor">Cor: </label></li>
            <li class="inline"><label id="cor" th:text="${cor_pelugem}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="dono">Dono: </label></li>
            <li class="inline"><label id="dono" th:text="${dono}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="rg">RG Pet: </label></li>
            <li class="inline"><label id="rg" th:text="${numero_rg}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="telefone">Telefone: </label></li>
            <li class="inline"><label id="telefone" th:text="${numero_telefone}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="cep">CEP</label></li>
            <li class="inline"><label id="cep" th:text="${cep}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="estado">Estado</label></li>
            <li class="inline"> <label id="estado" th:text="${estado}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="cidade">Cidade</label></li>
            <li class="inline"><label id="cidade" th:text="${cidade}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="bairro">Bairro</label></li>
            <li class="inline"><label id="bairro" th:text="${bairro}"></label></li>
        </ul>
        <ul>
            <li class="inline"><label for="endereco">Endereco</label></li>
            <li class="inline"><label id="endereco" th:text="${rua}"></label></li>
        </ul>
        <span>&copy; <a href="localhost:8081/">Sintonia Pet</a></span>
    </div>
</body>
</html>