@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sintonia Pet</title>
        <link rel="stylesheet" href=@routes.Assets.versioned("public/css/normalize.css")>
        <link rel="stylesheet" href=@routes.Assets.versioned("public/css/bootstrap.min.css")>
        <link rel="stylesheet" href=@routes.Assets.versioned("public/css/bootstrap.min.css.map")>
        <link rel="stylesheet" href=@routes.Assets.versioned("public/css/main.css")>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700,900&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" href=@routes.Assets.versioned("public/img/logo.png") >
    </head>
    <body>
        <div id="app">
            <router-view></router-view>
        </div>
		
        <script type="module" src=@routes.Assets.versioned("public/js/vue.js")></script>
        <script src=@routes.Assets.versioned("public/js/vue-router.js")></script>
        <script src=@routes.Assets.versioned("public/js/jquery.min.js")></script>
        <script src=@routes.Assets.versioned("public/js/bootstrap.min.js")></script>
        <script type="module" src=@routes.Assets.versioned("main.js")></script>
        <script src=@routes.Assets.versioned("public/js/axios.min.js")></script>
    </body>
</html>